* {
  
  align-items: center;
  font-family: 'Pretendard-Regular';
}



.InputArea {
  display: flex;
  padding: 10px auto 0 auto;
  gap: 15px;
  height: 130px;
  background-color: #d4b7a5cf;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.Input {
  border-radius: 3px;
  height: 30px;
  width: 200px;

}
.title {
  color:#5a5230;
}

.Button {
  background-color:#877c49;
  color: #fff;
  border:none;
  border-radius:20px;
  height: 31px;
  width: 68px;
  display: flex;
  
}

.newButton {
  background-color:#877c49;
  color: #fff;
  border:none;
  border-radius:30px;
  height: 30px;
  width: 70px;
  margin-top: 3px;
  margin-left: 20px;
}
.gapButton {
  margin-right: 20px;
}


.app-style {
    
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .component-style {
    width: 250px;
    height: 150px;
    border: 3px solid rgba(217, 179, 109, 0.93);
    border-Radius: 10px;
    display: inline;
    text-align: center;
    align-Items: center;
    justify-Content: center;
  }

